body { 
  color: #1a2c37;
  font-family: 'Helvetica', sans-serif; font-size: 86%;
  padding: 2em; 
}

#info { 
  font-size: 120%;
  font-weight: bold; 
}

#tail { 
  border: 1px solid #ccc;
  height: 600px;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  overflow-y: scroll; 
}

//#boardTable {
//  text-overflow: ellipsis; /* will make [...] at the end */
//  width: 370px; /* change to your preferences */
//  white-space: nowrap; /* paragraph to one line */
//  overflow:hidden; /* older browsers */
//}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

//    #board
//      { border: 2px solid #ccc;
//        height: 100px;
//        padding: 0.5em;
//        overflow: hidden;
//        position: relative;
//        overflow-y: scroll; }

.butt {
  font-size: .825em;
  text-decoration: none;
  font-weight: 700;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
  border-radius: 3px;
  color: rgba(0,0,0,.6);
  text-shadow: 0 1px 1px rgba(255,255,255,.7);
  box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
  background-color: #fff;
}

.butt:active, .butt.active {
  background-color: #d0d3d6;
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
  box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

