
# adding external DLR's configuration
include = /etc/kannel/dlr-mysql.conf

## Core
group = core
admin-port = 13000
smsbox-port = 13001
admin-password = secret
status-password = secret
admin-allow-ip = "*.*.*.*"
box-allow-ip = "*.*.*.*"
log-level = 0
log-file = /var/log/kannel/kannel.log
access-log = /var/log/kannel/access.log
dlr-storage = mysql

## SMSC - [ connected to: {{ channel.device  }} ]
group = smsc
smsc = at
smsc-id = smsc-{{ channel.msisdn }}
#my-number = +{{ channel.msisdn }}
my-number = {{ channel.msisdn }}
modemtype = siemens
device = {{ channel.device  }}
speed = 115200
#validityperiod = 144
#validityperiod = 143
sim-buffering = true
max-error-count = 5
log-level = 0
log-file = /var/log/kannel/smsc.log
allowed-smsc-id = smsc-{{ channel.msisdn }}
# 0x11 maens both are HEX, 0x00 means both are DEC, default is a literal c string.
msg-id-type = 0x00
unified-prefix = "972,+972"

# smsbox represent smpp user (1st field) in opensmppbox.users
group = smsbox
smsbox-id = {{ channel.smpp.username }}
bearerbox-host = localhost

# routing incomming messages (to: +{{ channel.msisdn }}) -> smpp-client: {{ channel.smpp.username }}
group = smsbox-route
smsbox-id = {{ channel.smpp.username }}
smsc-id = smsc-{{ channel.msisdn  }}

########################################################################################

## Modems
group = modems
id = siemens
need-sleep = true
sendline-sleep = 200
init-string = "AT+CNMI=2,2,0,1,0;+CMEE=1"

# default smsbox used for serving http
group = smsbox
smsbox-id = mysmsc
bearerbox-host = localhost
sendsms-port = 13013
global-sender = 13013

group = sendsms-user
username = user
password = pass
default-smsc = smsc-{{ channel.msisdn }}
user-allow-ip = "*.*.*.*"

# MT services. maybe not necessary since no services terminating
# here. all incoming messages from smsc (modem) are routed to
# the opensmppbox and to the remote smpp client.
group = sms-service
keyword = test
text = "test service reply from smsc-{{ channel.msisdn }}"

group = sms-service
keyword = default
text = "default service reply from smsc-{{ channel.msisdn }}"

